@import 'rose-pine.css';

@font-face {
	font-family: 'Inter';
	font-display: swap;
	font-weight: 400;
	src: url('/font/inter-v12-latin-regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Inter';
	font-display: swap;
	font-weight: 600;
	src: url('/font/inter-v12-latin-600.woff2');
}

*,
*::before,
*::after {
	font-family: inherit;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--rp-main-text);
}

*::selection {
	background-color: rgba(65, 132, 228, 0.4);
}

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--rp-main-base);
}

h1 {
	margin-bottom: 2rem;
	font-weight: 600;
}
