:root {
	--rp-main-base: #191724;
	--rp-main-surface: #1f1d2e;
	--rp-main-overlay: #26233a;
	--rp-main-muted: #6e6a86;
	--rp-main-subtle: #908caa;
	--rp-main-text: #e0def4;
	--rp-main-love: #eb6f92;
	--rp-main-gold: #f6c177;
	--rp-main-rose: #ebbcba;
	--rp-main-pine: #31748f;
	--rp-main-foam: #9ccfd8;
	--rp-main-highlight-low: #21202e;
	--rp-main-highlight-med: #403d52;
	--rp-main-highlight-high: #524f67;
}
